<ion-content class="ion-text-center ion-padding">

    <div *ngIf="user.photo">
      <img class="croppedImage pb-1" src="{{user.photo}}">
    </div>
    <div *ngIf="!user.photo">
      <img class="croppedImage pb-1" src="../../assets/img/profile-default.png">
    </div>
  
  <ion-item lines="none" class="ion-text-center ion-no-margin ion-no-border">
    <ion-label>
      <h1>{{user.name}}</h1>
    </ion-label>
  </ion-item>

  <ion-item lines="none">
    <ion-icon color="tertiary" slot="start" name="mail-outline"></ion-icon>
    <ion-label>{{user.email}}
      <div style="font-size: 14px; color: gray;">Correo</div>
    </ion-label>

  </ion-item>

  <ion-item lines="none">
    <ion-icon color="tertiary" slot="start" name="call-outline"></ion-icon>
    <ion-label>{{user.phonenumber}}
      <div style="font-size: 14px; color: gray;">Teléfono</div>
    </ion-label>

  </ion-item>

  <ion-item lines="none">
    <ion-icon color="tertiary" slot="start" name="earth-outline"></ion-icon>
    <ion-label class="ion-text-wrap">{{user.address}}
      <div style="font-size: 14px; color: gray;">Dirección</div>
    </ion-label>
  </ion-item>

 

</ion-content>
